html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    margin: auto;
    padding:0;
    background: #FFB8EB;
    color: #fff;
}

 @font-face {
    font-family: cinzel_regular; 
    src: url(fonts/cinzel_regular.ttf); 
   } 

 @font-face {
    font-family: AvenirNextCyr-Light; 
    src: url(fonts/AvenirNextCyr-Light.ttf); 
   } 

    
 h1, h3, h4, h5, h6{ 
    display: inline-block;
    text-align: center;
    font-size: 38px !important; 
    font-family: cinzel_regular; 
    padding: 5px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-weight: 900;
}


/* Header */
header{
    padding-top: 10px;
    background-color: rgb(144, 84, 0);
    background: url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.header-top{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    width: 20%;
}

.logo img{
    width: 80%;
}

.menu{
    width: 60%;
}

.menu-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.menu-item{
    font-family: AvenirNextCyr-Light; 
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    list-style: none;
}

.header__but {
    padding: 7px 10px;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    width: 180px !important;
    text-align: center;
    font-family: AvenirNextCyr-Light;
    cursor: pointer;
    margin-left: 40px;
    font-size: 15px;
    transition: all .4s ease-in-out;
}
.header__but:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;

}
.header-center{
    width: 100%;
    padding-top: 90px;
}

.hdr-text{
    width: 60%;
    font-size: 40px;
    font-family: cinzel_regular; 
    text-align: left;
    color: #831163;
}

.hdr-text span{
    font-family: cinzel_regular; 
    color: #831163;
    font-weight: 900;
}

.hdr-sm-text{
    width: 80%;
    font-size: 26px;
    font-family: AvenirNextCyr-Light;
    text-align: left;   
    padding-top: 40px; 
}

.hdr-but {
    padding: 7px 10px;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    width: 180px !important;
    text-align: center;
    font-family: AvenirNextCyr-Light;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid transparent;
}
.hdr-but:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: all .4s ease-in-out;
}

.hdr-but2 {
    display: block;
    padding: 7px 10px;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    width: 180px !important;
    text-align: center;
    font-family: AvenirNextCyr-Light;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid transparent;
}
.hdr-but2:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: all .4s ease-in-out;
}


/* Services */
.services{
    padding-top: 40px;
    position: relative;
}

.serv-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
}

.serv-1 .left{
    width: 50%;
    border-radius: 6px;
}

.serv-1 .right{
    width: 45%;
}

.serv-title {
    font-family: cinzel_regular;
    color: #fff;
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    width: 100%;
    height: 85px;
}

.serv-title span{
    font-family: AvenirNextCyr-Light;
    font-size: 13px;
    text-align: left;
    color: #831163;
    font-weight: 500;
}

.serv-wrap{
    padding-left: 0px !important;
    padding-top: 30px;
}

.serv-list{
    list-style: none;
    font-size: 20px;
    text-align: left;
    font-family: AvenirNextCyr-Light;
    padding-top: 5px;
    background: url(../img/lotus-gold.png);
    background-size: 15px;
    background-position: left top 12px;
    background-repeat: no-repeat;   
    padding-left: 20px; 
}


/* About */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}

.about h1{
    height: 80px;
}

.about h1 > span{
    font-family: AvenirNextCyr-Light;
    font-size: 13px;
    text-align: center;
    color: #831163;
    font-weight: 900;
}

.about p{
    font-size: 20px;
    text-align: center;
    font-family: AvenirNextCyr-Light;    
    color: #fff;
    font-weight: 900;
    line-height: 40px;
    padding-top: 30px;
}

.abt-but {
    display: block;
    padding: 7px 10px;
    color: #fff;
    border-radius: 6px;
    background-color: #000;
    width: 180px !important;
    text-align: center;
    font-family: AvenirNextCyr-Light;
    cursor: pointer;
    margin: 0 auto;
    font-size: 15px;
    position: relative;
    top: 20px;
    border: 1px solid transparent;
}
.abt-but:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

/* Gallery */
.gallery{
    padding-top: 60px;
    padding-bottom: 60px;
}

.gallery h1{
    height: 80px;
}

.gallery h1 > span{
    font-family: AvenirNextCyr-Light;
    font-size: 13px;
    text-align: center;
    color: #831163;
    font-weight: 900;
}

.gallery-wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 40px;    
}

.gallery-item{
    width: 30%;
    height: 300px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}


/* Slider */

:root {
    --swiper-theme-color: #831163;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFB8EB;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-button-next, .swiper-button-prev {
    color:#831163;
  }


/* Work */

/* .work{
    padding-top: 60px;
    padding-bottom: 60px;
}

.work h1{
    height: 80px;
}

.work h1 > span{
    font-family: AvenirNextCyr-Light;
    font-size: 13px;
    text-align: center;
    color: #831163;
    font-weight: 900;
}

.work-item{
    width: 350px;
    height: 400px;
    text-align: center;
    position: relative;
    border-radius: 8px;
}

.work-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.work-shadow{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.90196) 0%, rgba(34, 34, 34, 0) 100%);
}

.work-item p{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
    font-family: AvenirNextCyr-Light;
    text-align: center;
    position: relative;
    top: 80px;
    width: 90%;
    margin: 0 auto;
}

.work-item p > span{
    font-family: AvenirNextCyr-Light;
    position: relative;
    top: 20px;
    font-size: 14px;
    text-transform: none;
}

.work-sm-text{
    width: 1000px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    font-family: AvenirNextCyr-Light;
    font-weight: 700;
}

.work-item-flashok{
    background: #9A65A5;
    width: 150px;
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    margin: 0 auto;
    font-family: AvenirNextCyr-Light; 
    text-transform: uppercase;
}

.work__but {
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(17.79deg, #08c4c4 9.67%, #1F97F3 90.3%);
    width: 150px !important;
    text-align: center;
    font-family: AvenirNextCyr-Light;  
    cursor: pointer;
    margin: 0 auto;
    margin-top: 105px;
    font-size: 15px;
} */



/* Footer */

footer{
    padding-top: 80px;
    padding-bottom: 50px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container h1{
    height: 80px;
}

footer .container span{
    font-family: AvenirNextCyr-Light;
    font-size: 13px;
    text-align: center;
    color: #e86a9f;
    font-weight: 900;
}
.footer__item{
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.footer__item .left{
    width: 50px;
}

.footer__item .left img{
    width: 40px;
    position: relative;
    right: 10px;
    top: 2px;
}

.footer__item .right{
    width: 250px;
}

.footer__item .right p{
    text-align: left;
    font-size: 14px;
    color: #fff;
}

.footer__item .right p > span{
    font-size: 16px;
    font-family: AvenirNextCyr-Light; 
    font-weight: 900;
    color: #fff;
}
a.footer__item:hover .right p{
    transition: all .4s ease-in;
    color: #fcd51c;
}
.map{
    width: 100%;
    margin-top: 40px;
}

.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p, .policy{
    font-size: 15px;
    font-family: AvenirNextCyr-Light;  
    margin: 0 auto;
    text-align: center;  
    font-weight: 900; 
    color: #fff;
}
.policy {
    text-decoration: underline;
}
.policy:hover {
    color: blue;
}
.offer{
    background: url(../img/offer.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}

.offer p{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 34px;
    font-family: cinzel_regular; 
    padding-top: 60px; 
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.offer-but{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.offer-a{
    text-decoration: none;
    color: #fff;
}

.offer-b{
    text-decoration: none;
    color: #fff;
}
.hdr-but:hover .offer-b {
    color: #000;
    transition: all .4s ease-in-out;
}

.services-mob{
    display: none;
}
a {
     text-decoration: none;
     cursor: pointer;
}
a:hover {
    transition: all .4s ease-in-out;
    color:rgb(255, 255, 255);
}
.menu-link {
    text-decoration: 1px solid transparent;
    color: #831163;
    transition: all .4s ease-in-out;
}
.menu-link:hover {
    text-decoration: underline;
    text-decoration-color:#831163;
    color: #831163;
}
.offer-b:hover {
     color: #fff;
}


/* Modal */

/* Fixed body */
.body-fixed {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/* --------- */


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100Vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.overlay.active {
    opacity: 1;
    visibility:visible;
}

.Mymodal {
    background-color: #831163;
    color: #000;
    margin: 0 auto;
    width: 320px;
    height: auto;
    max-height: 600px;
    padding: 10px;
    border-radius: 3px;
}
.Mymodal__close {
    display: flex;
    align-items: center;
    justify-content: end;

}
.Mymodal__close--btn {
    border: none;
    outline: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcd51c;
    transition:  all .4s ease-in-out;
}
.Mymodal__close--btn:hover {
    color: #fcd51c;
    background: #3e1703;
}

.Mymodal__title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: .3rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #3e1703;
}

.Mymodal__list, .Mymodal__list--item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #fcd51c;
}
.Mymodal__list--item  {
    font-size: 12px;
    margin-bottom: 5px;
}
.Mymodal__list--item__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.Mymodal__list--item span {
    font-size: 14px;
    font-weight: 700;
    color: #fcd51c;
}
.Mymodal__list--item__title--pink {
    text-decoration: underline;
    color: #3e1703;
}
.Mymodal__open--btn__refill {
    cursor: pointer;
}